body {
    font-family: 'Special Elite', cursive;
    background:green;
    color: black;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 25px;
    line-height: 3;
    text-align: center;
}